.home {
    background: black;
    overflow-x: hidden;
    padding: 0;
}

#visualizer {
    height: 500px;
    filter: blur(6px);
    margin-bottom: 0;
    box-shadow: none;
    border-bottom: 5px solid #212121;
}

.intro {
    height: 500px;
    margin-top: -500px;
    color: white;
    width: 100%;
    z-index: 999;
    position: relative;
    margin-bottom: 0;
}

.intro-text {
    display: block;
    margin-top: 150px;
    margin-left: 25px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.logo {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 999px;
    box-shadow: 0 0 10px black;
}

.invite-btn,
.learn-more-btn {
    text-align: center;
    margin: 0 auto;
    border-radius: 999px;
    padding: 10px;
    width: 50%;
    max-width: 200px;
    box-shadow: 0 0 10px black;
    border: 2px solid white;
    display: inline-block;
    transition: 0.25s;
    font-size: 15px;
    margin: 10px;
}

.invite-btn {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.invite-btn:hover {
    color: #A51C15 !important;
    border: 2px solid #A51C15;
    text-decoration: none;
}

.learn-more-btn {
    color: black !important;
    background-color: white;
}

.learn-more-btn:hover {
    background-color: #cccccc;
    border: 2px solid #cccccc;
    text-decoration: none;
}

.pros-container {
    background-color: #212121;
    padding-top: 20px;
}

.pros {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0 auto;
}

.pros>div>div {
    padding: 20px;
    box-shadow: 0 0 10px black;
    background-color: #212121;
    border-radius: 3px;
    color: white;
    height: 320px;
    margin-bottom: 30px;
}

.pros>div>div>span {
    font-size: 25px;
    font-weight: bolder;
}

.stats {
    width: 100%;
    background-size: cover;
    color: white;
    text-align: center;
    height: 400px;
    padding: 20px;
    box-shadow: inset 0 0 10px black;
}

.stat {
    padding: 10px;
    border-radius: 999px;
    box-shadow: 0 0 10px black;
    font-size: 30px;
    margin-top: 25%;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.6);
}

.changelog {
    color: white;
    background-color: #212121;
    text-align: justify;
    font-size: 20px;
    padding-bottom: 40px;
}

.changelog>div>h3 {
    text-align: center;
    margin-bottom: 30px;
}

.changelog>div>ul, .changelog>div>ul>ul{
    padding: 0;
    list-style-type: none;
}

.commit {
    margin: 0;
    margin-bottom: 10px;
}

.commit>a {
    padding: 10px;
    box-shadow: 0 0 10px black;
    display: block;
    border-left: 6px solid transparent;
}

.commit>a>img {
    height: 25px;
    border-radius: 999px;
    float: right;
}

.commit>a>span {
    float: right;
    margin-right: 10px;
}

.commit>a:hover {
    background-color: #191919;
    color: white;
    text-decoration: none;
    border-left: 6px solid #A51C15;
    transform: scale(1.02);
}

@media only screen and (max-width: 767px) {
    #visualizer {
        height: 95vh;
    }

    .intro {
        height: 90vh;
        margin-top: -90vh;
    }

    .intro-text {
        display: none;
    }

    .invite-btn,
    .learn-more-btn {
        margin: 0 auto;
        margin-top: 30px;
        display: block;
    }

    .logo {
        margin: 0 auto;
        margin-top: 10%;
        width: 250px;
    }

    .stat {
        margin-top: 5%;
        font-size: 20px;
        padding: 0;
        border: 1px solid white;
    }
}