@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: none;
    background: #333333;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #A51C15;
    transition: 0.25s;
}

.active:focus {
    color: white;
    background: #262828;
}

header {
    position: sticky;
    top: 0;
    background: #A51C15;
    color: white;
    box-shadow: 0 2px 5px black;
    padding: 0px;
    width: 100%;
    z-index: 10;
    height: 5%;
}

header>h1 {
    display: inline-block;
}

header>img {
    width: 55px;
    margin: -28px 10px 0px 10px;
}

header>button {
    background: transparent;
    color: white;
    border: 1px solid white;
    outline-width: 0;
    float: right;
    font-size: 40px;
    margin: 6px;
    border-radius: 5px;
    width: 56px;
    height: 56px;
    display: none;
    transition: 0.25s;
}

hr {
    margin: 0;
    margin-bottom: 10px;
}

h2 {
    font-size: 45px;
    font-weight: 400;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
    font-weight: 400;
}

#root {
    background: white;
}

.not-found {
    text-align: center;
    color: gray;
    font-size: 70px;
    font-weight: bolder;
    margin: auto;
}

.menu {
    background-color: #2c2f34;
    padding-top: 1%;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px black;
    z-index: 5;
    font-size: 17px;
}

.active {
    border-left: 5px solid #A51C15 !important;
    color: white;
    background: #262828;
}

.links {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.links>hr {
    margin: 10px;
}

.links>div>a {
    padding: 5%;
    padding-left: 15%;
    text-align: left;
    transition: 0s;
    display: block;
    width: 100%;
    text-decoration: none;
    border-left: 5px solid #2c2f34;
}

.links>div:hover {
    background: #262828;
}

.links>div>a:hover {
    color: white;
    border-left: 5px solid #262828;
}

.content {
    margin: 0;
    padding: 0;
    padding-bottom: 1%;
    color: #333333;
    overflow-y: auto;
    height: 96.6vh;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 767px) {
    header>button {
        display: block;
    }

    .menu {
        display: none;
    }
}

.twemoji {
    height: 1.2em;
    width: 1.2em;
}